.car-filter {
  color: white;
  padding: 0 1rem;
}

.car-filter__control {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.car-filter label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.car-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
